.faces {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.face {
    display: inline-block;
    padding: 0.75em 0.5em 0.75em 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    box-shadow: 0.1em 0.1em 0.1em #ddd;
    background-color: #f2f2f2;
}

.face:active {
    background-color: #fff;
    box-shadow: 0 0 0 #fff;
}